/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
  background-color: #ededed;
  color: rgb(10, 10, 10);
  text-align: center;
}

canvas {
}

.audio-visualizer-container {
  display: flex;
  text-align: center;
  justify-content: center; /* horizontally centers children */
  align-items: center; /* vertically centers children */
  height: 60vh; /* adjust as needed */
  width: 100%; /* adjust as needed */
}

.center-content {
  text-align: center; /* centers the contents inside */
  width: 100%; /* adjust as needed */
}
